<ion-modal-view ng-controller="CreateLessonCtrl">
	<ion-header-bar class="bar-royal bar-md">
	<div class="buttons left-buttons">
			<button class="button button-icon ion-arrow-left-c" ng-click="createLessonModal.hide()"></button>
		</div>
		<h1 class="title">New Lesson</h1>
	</ion-header-bar>
	<ion-content has-bouncing="false">
		<div class="list">

			<label class="item item-input item-select">
				<div class="input-label">Course</div>
				<!-- why $parent ? see https://github.com/angular-ui/ui-select/issues/18 -->
				<select ng-model="$parent.selectedCourse" ng-options="course.name for course in courses" ></select>
			</label>

			<label class="item item-input item-select">
				<div class="input-label">Attendees</div>
				<select ng-model="$parent.selectedAttendee" ng-options="attendee.name for attendee in attendees" ></select>
			</label>

			<label class="item item-input item-select">
				<div class="input-label">Teacher</div>
				<select ng-model="$parent.selectedTeacher" ng-options="teacher.fullname for teacher in teachers" ></select>
			</label>

			<label class="item item-input item-select">
				<div class="input-label">Room</div>
				<select ng-model="$parent.selectedRoom" ng-options="room.fullname for room in rooms" ></select>
			</label>

		</div>
	</ion-content>
	<div class="bar bar-footer">
		<button class="button button-clear button-royal" ng-click="saveLesson()" ng-disabled="!selectedCourse || !selectedAttendee || !selectedTeacher || !selectedRoom">Save</button>
	</div>
</ion-modal-view>
