<ion-side-menus>
	<ion-pane ion-side-menu-content>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu side="left">
	<ion-header-bar align-title="left" class="bar-royal">
		<h1 class="title">Studapp</h1>
		<div class="buttons">
			<button class="button button-clear ion-gear-a"></button>
		</div>
	</ion-header-bar>
		<ion-content>
			<ion-item nav-clear menu-close class="item item-thumbnail-left" ui-sref=".profile">
				<img ng-src="{{user.attributes.pic}}">
				<h2>{{user.attributes.nickname}}</h2>
				<p>{{user.attributes.email}}</p>
			</ion-item>
			<ion-list>
				<ion-item nav-clear menu-close ui-sref-active="current-state" ui-sref=".studlife">
					StudLife
				</ion-item>
				<ion-item>
					<button class="button button-outline button-assertive" ng-click="logOut()">
					Logout
					</button>
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
