<ion-view title="{{userdata.fullname}}">
	<ion-nav-bar align-title="left" class="bar bar-royal bar-transparent">
		<div class="buttons left-buttons">
			<button class="button button-icon ion-arrow-left-c" ui-sref="app.studlife"></button>
		</div>
	</ion-nav-bar>
	<ion-content padding="false" class="scroll-full">
		<div class="profile-cover"></div>
		<div class="profile-picture"></div>
		<div class="profile-info">
			<h2>{{userdata.fullname}}</h2>
			<p>{{userdata.schoolyear}} years {{userdata.role}} at {{userdata.schoolname}}</p>
			<p>{{userdata.absences}} check in missed</p>
		</div>
	</ion-content>
</ion-view>
