<ion-view title="{{user.get('fullname')}}">
	<ion-nav-bar align-title="left" class="bar bar-royal bar-transparent bar-md">
		<div class="buttons left-buttons">
			<button class="button button-icon ion-arrow-left-c" ui-sref="^.studlife"></button>
		</div>
	</ion-nav-bar>

	<ion-content padding="false" class="scroll-full">
		<div class="profile-cover" ng-click="updateCoverPicture()" ng-style="{'background-image':'url('+coverPicture+')'}"></div>
		<div class="profile-picture" ng-click="updateProfilePicture()" ng-style="{'background-image':'url('+profilePicture+')'}"></div>
		<div class="profile-info">
			<h2>{{user.get('fullname')}}</h2>
			<p>{{user.get('grade')}} at {{school.get('name')}}</p>
			<!-- <p>{{user.absences}} check in missed</p> -->
		</div>
		<button class="button button-outline button-full button-assertive" ng-click="logOut()">Logout</button>
	</ion-content>
</ion-view>
