<ion-view title="Studapp">
	<ion-nav-bar align-title="center" class="bar bar-royal bar-md">
		<div class="buttons left-buttons">
			<button class="button-profile" ng-style="{'background-image':'url('+user.profilePicture.url()+')'}" ui-sref="^.profile"></button>
		</div>
	</ion-nav-bar>
	<div class="fab" ng-click="createLessonModal.show()" ng-if="user.role.name == 'admin'"><i class="ion-plus-round"></i></div>
	<ion-content has-bouncing="true">

		<md-card setup="settings.cards['feedback']" class="feedback slideup"></md-card>

		<md-card setup="settings.cards['lesson']" data="lesson" ng-repeat="lesson in lessons" class="lesson"></md-card>

	</ion-content>
</ion-view>
