<ion-view title="Studapp">
	<ion-nav-bar align-title="center" class="bar bar-royal bar-md">
		<div class="buttons left-buttons">
			<button class="button-profile" ng-style="{'background-image':'url('+profilePicture+')'}" ui-sref="^.profile"></button>
		</div>
	</ion-nav-bar>
	<ion-content has-bouncing="true">

		<!-- <md-card setup="settings.cards['feedback']" class="feedback slideup"></md-card> -->

		<!-- <md-card setup="settings.cards['course']" class="course"></md-card> -->


	</ion-content>
</ion-view>
