<ion-view view-title="Studapp" hide-back-button="true">
	<ion-nav-buttons side="primary">
		<button class="button-profile" ng-style="{'background-image':'url('+user.profilePicture.url()+')'}" ui-sref="^.profile"></button>
	</ion-nav-buttons>
	<div class="fab" ng-click="createLessonModal.show()" ng-if="user.role.name == 'admin'"><i class="ion-plus-round"></i></div>
	<ion-content has-bouncing="true">

		<md-card setup="settings.cards['feedback']" class="feedback"></md-card>

		<md-card setup="settings.cards['lesson']" data="lesson" ng-repeat="lesson in lessons" class="lesson"></md-card>

	</ion-content>
</ion-view>
