<ion-slide-box show-pager="true" class="onboard">
  <ion-slide>
    <div class="slide slide1">
    	<div class="buttons">
    		<div class="register">Register</div>
    		<div class="signin" ng-click="showLoginPopup()">Sign In</div>
    	</div>
    	<div class="logo logobig"></div>
    	<h1><strong>Stud</strong>app</h1>
    	<p>Bring modern communication and workflow to your school</p>
    	<i class="next ion-chevron-right" ng-click='nextSlide()'></i>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide slide2">
    	<div class="buttons">
    		<div class="register">Register</div>
    		<div class="signin" ng-click="showLoginPopup()">Sign In</div>
    	</div>
    	<div class="logo"></div>
    	<h1>For <strong>Students</strong></h1>
    	<p>As students, we know what we are talking about. You'll just have to trust us</p>
    	<i class="previous ion-chevron-left" ng-click="previousSlide()"></i>
    	<i class="next ion-chevron-right" ng-click='nextSlide()'></i>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide slide3">
    	<div class="buttons">
    		<div class="register">Register</div>
    		<div class="signin" ng-click="showLoginPopup()">Sign In</div>
    	</div>
    	<div class="logo"></div>
    	<h1>For <strong>Teachers</strong></h1>
    	<p>As students, we met teachers everyday. Asking them what problems they wanted to resolve was an easy task</p>
    	<i class="previous ion-chevron-left" ng-click="previousSlide()"></i>
    	<i class="next ion-chevron-right" ng-click='nextSlide()'></i>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide slide4">
    	<div class="buttons">
    		<div class="register">Register</div>
    		<div class="signin" ng-click="showLoginPopup()">Sign In</div>
    	</div>
    	<div class="logo"></div>
    	<h1>For <strong>Schools</strong></h1>
    	<p>As students, we have been trought several grades in different schoo. It remains one question: why exchanges with administration are so long ?</p>
    	<i class="previous ion-chevron-left" ng-click="previousSlide()"></i>
    	<i class="next ion-chevron-right" ng-click='nextSlide()'></i>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="slide slide5">
    	<div class="buttons">
    		<div class="register">Register</div>
    		<div class="signin" ng-click="showLoginPopup()">Sign In</div>
    	</div>
    	<div class="logo"></div>
    	<h1>Know more <strong>About Us</strong></h1>
    	
    	<i class="previous ion-chevron-left" ng-click="previousSlide()"></i>
    </div>
  </ion-slide>
</ion-slide-box>
