<ion-view title="Welcome">
	<!-- overflow-scroll for perf improvement (native scrolling) -->
	<ion-content overflow-scroll="true">

	<div class="card">
		<div class="item item-image">
			<img src="img/studapp.png">
		</div>
		<div class="item item-body">
			<p>Your school at your fingertips</p>
		</div>
		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#">
				Sign Up
			</a>
			<a class="tab-item" href="#" ng-click='showLoginPopup()'>
				Login
			</a>
		</div>
	</div>

	<div class="card">
		<div class="item item-divider">
			Learn more
		</div>
		<div class="item item-body">
			<p>Studapp is a fresh new way to manage courses and attendance in your school</p>
		</div>
	</div>

	<div class="card">
		<div class="item">
			<h2>For Students</h2>
		</div>
		<div class="item item-body">
			<p>Some real convincing argument</p>
		</div>
	</div>

	<div class="card">
		<div class="item">
			<h2>For Teachers</h2>
		</div>
		<div class="item item-body">
			<p>Some real convincing argument</p>
		</div>
	</div>

	<div class="card">
		<div class="item">
			<h2>For Schools</h2>
		</div>
		<div class="item item-body">
			<p>Some real convincing argument</p>
		</div>
	</div>

	<div class="card">
		<div class="item">
			<h2>Tel your school about it</h2>
		</div>
		<div class="item item-body">
			<p>Just don't stand there watching your friend enjoy the experience. make it happen by telling your school about how studapp could improve life on campus</p>
		</div>
	</div>

	</ion-content>
</ion-view>