<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.studionic909147" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Studionic</name>
  <description>
        Studapp mobile application using Ionic Framework and Cordova.
    </description>
  <author email="louis1.lafont@gmail.com" href="http://getstudapp.co/">
      Studapp
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
